<%= form_for (landing), html: {:class => 'text-center', :remote => true} do |f| %>
  <% if landing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landing.errors.count, "error") %> prohibited this landing from being saved:</h2>

      <ul>
      <% landing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :email, :class => 'form-control input-subscribe' %>
  </div>

  <div class="actions">
    <%= f.submit 'submit', :class => 'btn btn-white-fill'%>
  </div>
  <p class="text-light">
      <small>You can un-subscribe at any time.</small>
  </p>
<% end %>
