<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="<%= image_url("favicon.ico") %>">

        <title>Venatus</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-78002311-1', 'auto');
            ga('send', 'pageview');
        </script>
        <style>
        /* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

        </style>
    </head>


    <body data-spy="scroll" data-target="#navbar-menu">

        <!-- Navbar -->
        <div class="navbar navbar-custom sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">

                    <!-- Responsive menu button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="http://coderthemes.com/zodkoo_1.1/index.html">
                        Venatus
                    </a>
                </div>
                <!-- end navbar-header -->

                <!-- menu -->
                <div class="navbar-collapse collapse" id="navbar-menu">

                    <!-- Navbar left -->
                    <ul class="nav navbar-nav nav-custom-left">
                        <li class="active">
                            <a href="#home" target="_parent" class="nav-link"><%= t 'home' %></a>
                        </li>
                        <li>
                            <a href="#features" target="_parent" class="nav-link"><%= t 'features' %></a>
                        </li>
                        <li>
                            <a href="#contact" target="_parent" class="nav-link"><%= t '.talk_to_us' %></a>
                        </li>
                        <li>
                            <a href="#subscribe" target="_parent" class="nav-link"><%= t 'subscribe' %></a>
                        </li>
                    </ul>

                    <!-- Navbar right -->
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                          <a href="index_6.html#" data-toggle="dropdown">
                              <%= t 'language' %>
                              <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu arrow">
                            <li>
                              <div class="form-group">
                                <select class="form-control" id="language">
                                  <option value="en" selected><%= t '.select_language' %></option>
                                  <option value="en"><%= image_tag("blank.png", :class => "flag flag-us") %> <%= t 'english' %></option>
                                  <option value="br"><%= image_tag("blank.png", :class => "flag flag-br") %> <%= t 'portuguese' %></option>
                                </select>
                              </div>
                            </li>
                          </ul>
                      </li>
                    </ul>

                </div>
                <!--/Menu -->
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->


        <!-- HOME -->
        <section class="home bg-img-2" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="home-wrapper">
                            <h1 class="text-white"><%= t ".intro-text" %></h1>
                            <!-- <h4 class="text-light">Zodkoo is a fully responsive landing page built using the latest Bootstrap framework. It's designed for describing your app, agency or business. The clean and well commented code allows easy customization of the theme.</h4> -->
                            <!-- <div class="type-wrap"> -->
                            <div id="typed-strings">
                              <span><%= t ".intro-text2_html" %></span>
                              <p><%= t 'Ao invés de utilizar varias ferramentas' %></p>
                              <p><%= t 'o X concentra em um único sistema tudo que você e sua equipe precisa para planejar e acompanhar o desenvolvimento de um Game.' %></p>
                            </div>
                            <span class="text-light" id="typed" style="white-space:pre;"> </span>
                            <!-- </div> -->
                            <!-- <p><a href="index_6.html" class="btn btn-custom"><%= t 'Get Started' %></a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HOME -->



        <!-- Features Alt -->
        <section class="section">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <div class="title-box-icon">
                                <h3 class="title">Venatus</h3>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->
               <div class="hidden-sm hidden-xs visible-md-block visible-lg-block center-block">
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="feat-description">
                              <h4 class="text-muted"><%= t '.plan' %></h4>
                              <p class="text-muted center-block"><%= t '.plan2' %></p>
                              <ul>
                                <li><%= t '.plan3' %></li>
                                <li><%= t '.plan4' %></li>
                                <li><%= t '.plan5' %></li>
                                <li><%= t '.plan4' %></li>
                              </ul>
                          </div>
                      </div>

                      <div class="col-sm-6">
                        <%= image_tag("macbook.png", :class => "img-responsive") %>
                      </div>

                  </div><!-- end row -->
                  <div class="row">
                      <div class="col-sm-6">
                        <%= image_tag("macbook.png", :class => "img-responsive") %>
                      </div>
                      <div class="col-sm-6">
                          <div class="feat-description">
                              <h4 class="text-muted">Acompanhe</h4>
                              <p class="text-muted center-block">O X sugere, de forma automática, atividades com base do que foi inserido na fase de criação dos documentos e possibilita a inserção de novas atividades.
                                {
                                	Modelo Product Backlog (Scrum)
                                	Modelo Kanban
                                }</p>
                          </div>
                      </div>
                  </div><!-- end row -->
          </div>
          <div class="hidden-md hidden-lg visible-xs-block visible-sm-block center-block">
            <div class="row">
              <div class="col-sm-12">
                <%= image_tag("macbook.png", :class => "img-responsive") %>
              </div>
              <div class="col-sm-12">
                <div class="feat-description">
                    <h4 class="text-muted"><%= t '.plan' %></h4>
                    <p class="text-muted center-block"><%= t '.plan2' %></p>
                    <ul>
                      <li><%= t '.plan3' %></li>
                      <li><%= t '.plan4' %></li>
                      <li><%= t '.plan5' %></li>
                      <li><%= t '.plan4' %></li>
                    </ul>
                </div>
            </div>

        </div><!-- end row -->
        <div class="row">
          <div class="col-sm-12">
            <%= image_tag("macbook.png", :class => "img-responsive") %>
          </div>
            <div class="col-sm-12">
                <div class="feat-description">
                    <h4 class="text-muted">Acompanhe</h4>
                    <p class="text-muted">O X sugere, de forma automática, atividades com base do que foi inserido na fase de criação dos documentos e possibilita a inserção de novas atividades.
                      {
                        Modelo Product Backlog (Scrum)
                        Modelo Kanban
                      }</p>
                </div>
            </div>
        </div><!-- end row -->
      </div>
        </div> <!-- end container -->
        </section>
        <!-- end features alt -->


        <!-- Features -->
        <section class="section bg-light" id="features">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="title"><%= t '.described_features' %></h3>
                        <!-- <p class="text-muted sub-title">The clean and well commented code allows easy customization of the theme.It's <br/> designed for describing your app, agency or business.</p> -->
                    </div>
                </div> <!-- end row -->

                <div class="row">
                    <div class="col-sm-4">
                        <div class="features-box">
                            <i class="pe-7s-rocket"></i>
                            <h4>Caminho Critico</h4>
                            <p class="text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="features-box">
                            <i class="pe-7s-science"></i>
                            <h4>Dashboard</h4>
                            <p class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin litera..</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="features-box">
                            <i class="pe-7s-display1"></i>
                            <h4>Relatórios</h4>
                            <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                        </div>
                    </div>

                </div> <!-- end row -->


                <div class="row">
                    <div class="col-sm-4">
                        <div class="features-box">
                            <i class="pe-7s-share"></i>
                            <h4>Login GIt ou Google</h4>
                            <p class="text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="features-box">
                            <i class="pe-7s-refresh-2"></i>
                            <h4>Integração de equipe</h4>
                            <p class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin litera..</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="features-box">
                            <i class="pe-7s-headphones"></i>
                            <h4>Suporte</h4>
                            <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                        </div>
                    </div>

                </div> <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- end Features -->

        <!-- Subscribe -->
        <section class="section bg-custom" id="contact">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="title text-white"><%= t '.talk_to_us' %></h3>
                    </div>
                </div><!-- End row -->

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <%= form_for (@customer), html: {:class => 'text-center', :remote => true} do |f| %>
                      <div class="field">
                        <div class="row">
                          <div class="col-md-4">
                            <%= f.text_field :name, :class => 'form-control input-contact', :placeholder => "name", :required => "required" %>
                         </div>
                         <div class="col-md-4">
                           <%= f.text_field :phone, :class => 'form-control input-contact phone_us', :data => {:mask=> '00/00/0000'}, :type => 'numeric', :required => "required" %>
                         </div>
                         <div class="col-md-4">
                           <%= f.text_field :email, :class => 'form-control input-contact', :type => 'email', :placeholder => "email", :required => "required" %>
                         </div>
                        <%= f.text_area :message, :class => 'form-control input-contact', :placeholder => "message", :type => "text", :required => "required" %>
                        </div>
                      </div>

                      <div class="actions">
                        <%= f.submit 'submit', :class => 'btn btn-white-fill'%>
                      </div>
                    <% end %>
                    </div>
                </div><!-- End row -->

            </div> <!-- end container -->
        </section>
        <!-- End Subscribe -->

        <!-- Subscribe -->
        <section class="section bg-light" id="subscribe">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="title"><%= t '.be_engaged_newsletter' %></h3>
                    </div>
                </div><!-- End row -->

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <%= render 'form', landing: @landing %>
                    </div>
                </div><!-- End row -->

            </div> <!-- end container -->
        </section>
        <!-- End Subscribe -->

        <!-- FOOTER -->
        <footer class="section bg-gray footer">
            <div class="container">
                <div class="row pull-right hidden-sm hidden-xs visible-md-block visible-lg-block">
                  <div class="col-sm-4">
                      <%= image_tag("social-media/facebook.png", :class => "img-responsive") %>
                  </div>
                  <div class="col-sm-4">
                      <%= image_tag("social-media/twitter.png", :class => "img-responsive") %>
                  </div>
                  <div class="col-sm-4">
                      <%= image_tag("social-media/linkedin.png", :class => "img-responsive") %>
                  </div>
                </div>
                <div class="row hidden-md hidden-lg visible-xs-block visible-sm-block">
                  <div class="col-sm-12">
                      <%= image_tag("social-media/facebook.png", :class => "img-responsive") %>
                      <%= image_tag("social-media/twitter.png", :class => "img-responsive") %>
                      <%= image_tag("social-media/linkedin.png", :class => "img-responsive") %>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-alt text-center">
                            <p class="text-muted m-b-0"><%= t 'contact' %>: contato@venatus.com</p>
                        </div>
                    </div>
                </div> <!-- end row -->

            </div> <!-- end container -->
        </footer>
        <!-- END FOOTER -->


        <!-- Back to top -->
        <a href="#" target="_parent" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>

    </body>
</html>
